<button class="btn btn--primary">Get Started</button>
<button class="btn btn--secondary">Get Started</button>
<button class="btn btn--accent">Get Started</button>
<button class="btn btn--primary btn--block">Get Started</button>
<button class="btn btn--secondary btn--block">Get Started</button>
<button class="btn btn--accent btn--block">Get Started</button>
<button class="btn btn--accent btn--block">Get Started</button>
<button class="btn btn--outline btn--block">Get Started</button>
<div class="btn-container">
  <button class="btn btn--outline btn--block">Get Started</button>
</div>
<span class="btn-container">
  <button class="btn btn--outline btn--block">Get Started</button>
</span>
